[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
ee = "*"
jupyter = "*"
pyjanitor = "*"
pandas = "*"
earthengine-api = "*"

[dev-packages]

[requires]
python_version = "3.10"
